.App{
    height: 100vh;
}
main{
    /* padding: 0 200px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.products{
    /* display: block;
    width: 90%;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.vimage{
    width:150px;
    object-fit: cover;
}
.btnP{
    margin: 3px;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 20px;
}
.auth{
    width: 400px;
}
.auth span{
   font-size: 14px;
}
